<% provide(:title, 'Pengaturan') %>
<div class="row">
  <div class="columns medium-4 medium-offset-4">
    <div class="login">
      <h3>Ganti Password</h3>
      <%= form_for @user, url: change_password_path, method: :post do |f| %>
        <div class="form-field">
          <%= f.password_field :current_password, placeholder: 'Password', autofocus: true %>
        </div>

        <div class="form-field">
          <%= f.password_field :new_password, placeholder: 'Password Baru', autofocus: true %>
        </div>

        <div class="form-field">
          <%= f.password_field :new_password_confirmation, placeholder: 'Konfirmasi Password', autofocus: true %>
        </div>

        <%= f.submit 'Change password!', class: 'button-form large float-center' %>
      <% end %>
  </div>
</div>
