<% provide(:title, 'Hubungi Kami') %>
<div class="row">
  <div class="columns medium-6 medium-offset-3">
    <div class="login">
      <h3>Hubungi Kami</h3>
      <%= form_for @contact do |f| %>
        <fieldset>
          <div class="form-field">
            <%= f.text_field :name, placeholder: 'Nama', autofocus: true  %>
          </div>

          <div class="form-field">
            <%= f.email_field :email, placeholder: 'Email', autofocus: true  %>
          </div>

          <div class="form-field">
            <%= f.text_field :subject, placeholder: 'subject', autofocus: true  %>
          </div>

          <div class="form-field">
            <%= f.text_area :message, rows: 10, placeholder: 'Pesan', autofocus: true  %>
          </div>
        </fieldset>
        <%= f.submit "Kirim", class: 'button-form large float-center' %>
      <% end %>
    </div>
  </div>
</div>
