<%= form_for @story do |f| %>
    <section>
      <div class="form-field">
        <%= f.label :title, 'Judul' %>
        <%= f.text_field :title, autofocus: true %>
      </div>

      <div class="form-field">
        <%= f.label :category_id, 'Kategori' %>
        <%= f.select :category_id, Category.list_category, prompt: true %>
      </div>

      <div class="form-field">
        <%= f.label :content, 'Deskripsi' %>
        <%= f.text_area :content, rows: 7 %>
      </div>

      <div class="form-field">
        <%= f.check_box :paid, {}, 'paid', 'notpaid' %>
        <%= f.label :paid, 'Memberi suap' %>
      </div>

      <div class="form-field">
        <%= f.label :amount, 'Jumlah yang anda berikan?' %>
        <%= f.text_field :amount, data: { autonumeric: { aSign: 'Rp ', mDec: 0 } } %>
      </div>
    </section>

    <section <%= "class= last-section" if current_user %>>
      <div class="form-field">
        <%= f.label :event_date, 'Waktu kejadian' %>
        <%= f.text_field :event_date,
          value: (@story.event_date.nil? ? Date.today.strftime('%e %B, %Y') : @story.event_date.strftime('%e %B, %Y')) %>
      </div>

      <%= f.fields_for :location, @story.location || @story.build_location do |field| %>
        <div class="row">
          <div class="columns small-6 form-field">
            <%= field.label :province_id, 'Propinsi' %>
            <%= field.collection_select :province_id, Province.all, :id, :name, prompt: true %>
          </div>

          <div class="columns small-6 form-field">
            <%= field.label :city_id, 'Kota' %>
            <%= field.collection_select :city_id, @cities || City.all, :id, :name, prompt: true %>
          </div>
        </div>
      <% end %>
    </section>

    <% unless current_user %>
      <section class= "last-section" >
        <div class="form-field">
          <%= f.label :name, 'Nama anda' %>
          <%= f.text_field :name %>
        </div>

        <div class="form-field">
          <%= f.label :email, 'Alamat email anda' %>
          <%= f.text_field :email %>
        </div>
      </section>
    <% end %>
    <section style= "margin-bottom: 2rem;">
      <small>**Validasi laporan akan dikirimkan ke email anda setelah melakukan submit laporan ini. Silahkan cek email anda dan click link yang telah kami berikan untuk proses validasi.</small>
    </section>
    <%= f.submit 'Simpan', class: 'button-form' %>
<% end %>
