<% provide(:title, @story.title) %>
<div class="container story-detail">
  <div class="row">
    <h3><%= @story.title %></h3>
    <small>Diposting pada <%= @story.created_at.strftime('%e %B, %Y') %></small>
    <div class="columns medium-5 medium-offset-2 border-right-double story-detail">
      <div class="content_container">
        <%= @story.content %>
      </div>
    </div>
    <div class="columns medium-3 float-left text-center story-detail-right">
      <p class="subheader"><%= @story.category.name %></p>
      <h3 class = "story-index-ammount" <%= "id = notpaid" if @story.notpaid? %> ><%= number_to_currency(@story.amount, unit: 'Rp ', precision: 0) %></h3>
      <p class="subheader">
        <%= @story.story_city %>
        </br> 
        <%= @story.story_province %>
      </p>
      <%= social_share_button_tag(@story.title, popup: true) %>
    </div>
  </div>
  <div class="row">
    <div class="columns medium-8 medium-offset-2">
      <div class="comments">
        <% if current_user %>
          <h4>Komentar</h4>
          <%= render 'comment_form' %>
        <% else %>
          <% unless !@story.comments.present? %>
            <h4>Komentar</h4>
          <% end %>  
        <% end %>
      </div>

    <div id="comments">
      <%= render @comments  %>
    </div>
  </div>
</div>
