<div row>
  <div column="6 +3">
    <h3><%= @story.title %></h3>
    <p class="story-label">
      <span class="label bg--error"><%= @story.category.name %></span>
      <span class="label">Rp. <%= @story.amount.to_i %></span>
    </p>
    <small>Reported on <%= @story.created_at.strftime('%e %B, %Y') %> from <%= @story.location.city.name %></small>
    <div class="content_container">
      <%= @story.content %>
    </div>
    <%= render 'comment_form' %>
  </div>
</div>
