<div class="row">
  <div class="columns medium-4 medium-offset-4">
    <div class="login">
      <h3>Login to Stop Suap</h3>
      <%= form_for @user_session, url: login_path do |f| %>
        <div class="form-field">
          <%= f.text_field :email, placeholder: 'Email', autofocus: true %>
        </div>

        <div class="form-field">
          <%= f.password_field :password, placeholder: 'Password' %>
        </div>

        <div class="form-field">
          <%= f.check_box :remember_me %>
          <%= f.label :remember_me do %>
            Remember me &middot;
            <b><%= link_to 'Forgot password?', '#' %></b>
          <% end %>
        </div>

        <%= f.submit 'Login', :class => 'button large float-center' %>
      <% end %>
      <hr>
      <p>New to Stop Suap? <b><%= link_to 'Sign up here!', signup_path %></b></p>
    </div>
  </div>
</div>
