<div class="top-bar">
  <div class="top-bar-left">
    <div class="menu-text"><h3><%= link_to 'Stop Suap', root_path %></h3></div>
  </div>
  <div class="top-bar-right">
    <ul class="menu">
      <li data-no-turbolink><%= link_to 'Beranda', root_path %></li>
      <li><%= link_to 'Laporan', stories_path %></li>
      <li><%= link_to 'Buat Laporan', new_story_path %></li>
      <% if current_user  %>
        <li><%= link_to 'Keluar', logout_path, method: :delete %></li>
      <% else %>
        <li><%= link_to 'Masuk', login_path %></li>
      <% end %>
    </ul>
  </div>
</div>
